* {
  margin: 0;
	padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;

  font-family: var(--first-type);
  color: var(--white-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: var(--second-type);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; /* 15px */
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; /* 14px */
  }
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

a.active {
  color: var(--primary-color);
}

textarea {
  resize: vertical;
}

input:focus,
textarea:focus,
button {
  outline: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 30rem) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.flex {
  display: flex;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

@media (max-width: 48rem) {
  .w50 {
    width: 100%;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.border-effect-left {
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.border-effect-center {
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.border-effect-right {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

blockquote {
  max-width: 34rem;

  margin: 2rem auto;

  text-align: center;
}

blockquote p::before {
  margin: 0 auto 2rem;
}

blockquote p::after {
  margin: 2rem auto 0;
}

blockquote p {
  font-style: italic;
  font-size: 1.25rem;
}

blockquote cite {
  display: inline-block;
  margin-top: 1rem;

  font-size: 1rem;
}
